:{$PORT:80} {
    root * /app/public

    encode gzip

    @static {
        file
        not path *.php
    }

    handle @static {
        file_server
    }

    handle {
        php_server
    }
}
